@font-face {
    font-family: 'SamsungOne-400';
    src: url(../font/SamsungOne-400.ttf);
}
@font-face {
    font-family: 'SamsungOne-700';
    src: url(../font/SamsungOne-700.ttf);
}
@font-face {
    font-family: 'SamsungSharpSans-Bold';
    src: url(../font/SamsungSharpSans-Bold.ttf);
}