/*header & gnb*/
.s_header {width: 100%; height: 130px;}
.open_search {width: 100%; height: 60px; display: flex; justify-content: space-between; padding: 0 60px; box-sizing: border-box; align-items: center;} 
.samsung_logo {width: 230px; height: 31px;}
.samsung_slogan {width: 368px; height: 24px; }
.search_lang {width: 230px; display: flex; justify-content: flex-end; align-items: center;}
.search_icon {padding-right: 20px;}
.lang_icon {padding: 0 10px;}
.arrow_icon {width: 5px; height: 3px;}
.s_gnb {width: 100%; display: flex; justify-content: center;}
.s_gnb_container {width: 650px; display: flex; justify-content: space-between; padding: 26px 40px 0; box-sizing: border-box;}
.line_container {width: 100%; height: 2px; display: flex;}
.line_left {background-color: black; width: 0%; height: 100%;}
.line_right {background-color: black; width: 0%; height: 100%;}

/*main bg*/
.main_bg_container {width: 100%; height: 70%; overflow: hidden;}
.main_bg {background-image: url(../img/keyvisual_blue-story.jpg); background-size: cover; animation-name: bg_img_effect; animation-duration: 1s; background-position: center center; width: 100%; height: 100%; animation-fill-mode: forwards;}

/*content container*/
.content_container {width: 100%;}
.content_title {width: 90%; margin: 0 auto; box-sizing: border-box; padding-bottom: 60px;}
.content_title :first-child { display: flex; justify-content: space-between; margin-top: 20px;}
.list_container {width: 93%; height: 100vh; margin: 0 auto; display: flex; justify-content: space-between; flex-wrap: wrap;}
.list_content {width: 32.5%; height: 60%; margin-bottom: -80px;}
.img_container { position: relative; overflow: hidden; width: 100%; height: 54%;}
.list_bg {width: 100%; height: 100%; background-size: cover; background-position: center; transition: all 0.7s; position: absolute;}
.list_bg:hover {transform: scale(1.1);} 
.img_box {width: 100%; height: 100%;}
.list_content h2 {padding: 26px 24px 0; box-sizing: border-box;}
.list_content h5 {padding: 14px 24px 0; box-sizing: border-box;}
.list_content p {padding: 18px 24px 0; box-sizing: border-box;}


/**/
.img_01 {background-image: url(../img/ctgbnr_2020qledtv.jpg);}
.img_02 {background-image: url(../img/ctgbnr_galaxy-s20.jpg);}
.img_03 {background-image: url(../img/ctgbnr_galaxy-z-flip.jpg);}
.img_04 {background-image: url(../img/2020-if-thumbnail.jpg);}
.img_05 {background-image: url(../img/ctgbnr_grande-ai.jpg);}
.img_06 {background-image: url(../img/ctgbnr_new-lifestyle.jpg);}
.img_07 {background-image: url(../img/ctgbnr_awards13.jpg);}
.img_08 {background-image: url(../img/ctgbnr_galaxy-book.jpg);}
.img_09 {background-image: url(../img/ctgbnr_the-plate.jpg);}
.img_10 {background-image: url(../img/ctgbnr_global-designer-interview.jpg);}
.img_11 {background-image: url(../img/ctgbnr_global-interview.jpg);}
.img_12 {background-image: url(../img/ctgbnr_out-of-the-box.jpg);}
.img_13 {background-image: url(../img/ctgbnr_galaxy-note10.jpg);}
.img_14 {background-image: url(../img/ctgbnr_galaxy-watch-active2.jpg);}
.img_15 {background-image: url(../img/ctgbnr_news_kr_021.jpg);}
.img_16 {background-image: url(../img/ctgbnr_design-for-children.jpg);}
.img_17 {background-image: url(../img/ctgbnr_samsung-design-history.jpg);}
.img_18 {background-image: url(../img/ctgbnr_bespoke.jpg);}




/*animation*/
@keyframes bg_img_effect {
    from{transform: scale(1.2); opacity: 0.0;}
    to{transform: scale(1); opacity: 1.0;}
}
@keyframes line_left {
    from{width: 0%;}
    to{width: 100%;}
}