/*header & gnb*/
.s_header {width: 100%; height: 130px;}
.open_search {width: 100%; height: 60px; display: flex; justify-content: space-between; padding: 0 60px; box-sizing: border-box; align-items: center;} 
.samsung_logo {width: 230px; height: 31px;}
.samsung_slogan {width: 368px; height: 24px; }
.search_lang {width: 230px; display: flex; justify-content: flex-end; align-items: center;}
.search_icon {padding-right: 20px;}
.lang_icon {padding: 0 10px;}
.arrow_icon {width: 5px; height: 3px;}
.hidden_menu {width: 20px; height: 16px; display: none;}
.s_gnb {width: 100%; display: flex; justify-content: center;}
.s_gnb_container {width: 650px; display: flex; justify-content: space-between; padding: 26px 40px 0; box-sizing: border-box;}
.line_container {width: 100%; height: 2px; display: flex;}
.line_left {background-color: black; width: 0%; height: 100%;}
.line_right {background-color: black; width: 0%; height: 100%;}

/*main bg*/
.main_bg_container {width: 100%; height: 70%; overflow: hidden;}
.main_bg {background-image: url(../img/keyvisual_blue-story.jpg); background-size: cover; animation-name: bg_img_effect; animation-duration: 1s; background-position: center center; width: 100%; height: 100%; animation-fill-mode: forwards;}
/*img_grid*/
.img_grid {width: 100%;}
.img_grid_title {padding: 30px 76px 120px;}
.img_grid_title div {display: flex; justify-content: space-between;}
.img_grid_title h3 {padding-top: 20px;}
.img_grid h5 {width: fit-content; margin: 0 auto; padding: 10px 0 46px;}
.img_grid_container {width: 92%; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: space-between;}
.content_container {width: 32.4%; padding-bottom: 80px;}
.img_container {overflow: hidden; width: 100%; display: block;}
.content_container h2 {padding: 26px 24px 0;}
.content_container :nth-child(3) {padding: 14px 24px 0px;}
.content_container p {padding: 14px 24px 0px;}
.img_size:hover {cursor: pointer; transform: scale(1.1); }
.img_size {width: 100%; transition: all 0.8s;}
.border_line {width: 1px; height: 30px; border-left: 1px solid #555; margin: 0 auto;}

/*footer*/
.s_footer {width: 100%;}
.footer_container {width: 92%; margin: 0 auto; padding: 30px 0; display: flex;}
.footer_container :nth-child(2) {padding: 0 10px; border-right: 1px solid #888;}
.footer_container div :first-child {padding: 0 10px; border-right: 1px solid #888; text-decoration: underline;}
.footer_container div :last-child {padding: 0 10px; text-decoration: underline;}
.footer_s_logo {}


/*animation*/
@keyframes bg_img_effect {
    from{transform: scale(1.2); opacity: 0.0;}
    to{transform: scale(1); opacity: 1.0;}
}
@keyframes line_left {
    from{width: 0%;}
    to{width: 100%;}
}

/*media Query*/
@media screen and (max-width: 768px) {
    .samsung_slogan {display: none;}
    .lang_icon {display: none;}
    .arrow_icon {display: none;}
    .hidden_menu {display: block;}
    .main_bg_container {display: none;}
    .img_grid_title {display: none;}
    .s_gnb {display: none;}
    .open_search {padding: 0 30px;}
    .content_container {width: 100%;}
    .footer_container {display: flex; flex-direction: column; padding-bottom: 20px;}
    .footer_s_logo {width: 60px; height: 12px;}
    .footer_container :nth-child(2) {padding: 16px 0 0; border: none;}
    .footer_container div {padding-top: 10px;}
    .footer_container div :first-child {padding-left: 0;}

    
}